.navbar{
    background-color: transparent;
    color: #ffffff;
    grid-column: 2 / 12;
    grid-row: 1 / 2;
    align-self: center;
    &--list{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items:center;
        justify-content: space-between;
        &-box{
            display: flex;
            
            &__item{
                cursor: pointer;

                font-family: inherit;
                font-size: 2rem;
                &:not(:last-child){
                    margin-right: 4rem;
                }
                a{
                    text-decoration: none;
                    color: inherit;
                    cursor: pointer;

                }
            }
        }
        
    }
}