.heading-primary{
    color: #ffffff;
    font-size: 4rem;

    font-family: Nunito,sans-serif;
}
.heading-secondary{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 300;
    font-family: Nunito,sans-serif;
}